{% load static %}
<div></div>
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="color: rgb(91,91,91);background-color: #ffffff;">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="height: 104px;font-size: 60;padding-bottom: 0;margin-bottom: 0px;padding-top: 8px;">
                <div class="container-fluid">
                    <div class="col-md-4 col-xl-4 offset-xl-0 text-center" style="height: 86px;"><img src="{% static 'assets/img/logo.jpg' %}" style="width: 84px;margin-top: 10px;"></div>
                    <div class="col-md-4">
                        <h1 class="text-center" style="font-family: ABeeZee, sans-serif;">poep</h1>
                    </div>
                    <div class="col-md-4 text-center" style="height: 86px;"><i class="fa fa-envelope" style="font-size: 60px;color: rgb(0,189,41);margin-top: 10px;"></i></div>
                </div>
            </nav>
        </div>
    </div>
</div>
